footer
    position relative
    bottom 0 
    width 100%
    height 130px
    background #CCCCCC
    z-index 2
    .footer 
        width 1100px
        height 100%
        margin 0 auto !important
        display flex
        flex-direction column
        align-items center
        padding 25px 0 20px 0
        .links
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            a.link
                montserrat(16, bold)
                color #154877
                transition all 0.5s ease
                &:hover
                &:focus
                    color #65A2BE
            .hr-links
                margin 0 15px
                height 90%
                border 1px solid #154877
        .politica-termos
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            margin 20px 0 0 0
            .link-politica, .link-termos
                montserrat(12, bold)
                color #65A2BE
                &:hover
                &:focus
                    color #154877
            .hr-divisao
                margin 0 15px
                height 90%
                border 1px solid #65A2BE
        .linha-footer
            width 1000px
            border 1px solid #65A2BE
            margin 10px 0
        .direitos
            width 100%
            p
                margin 0
                montserrat(10, bold)
                color #65A2BE
                text-align center
                span 
                    text-transform uppercase
                a
                    transition all 0.5s ease
                    &:hover
                    &:focus
                        text-decoration underline
    +below($tablet)
        width 100%
        .footer 
            width 80%
            .linha-footer
                width 90%
    +mobile()
        width 100%
        height 190px
        .footer 
            width 80%
            .links
                flex-direction column
                align-items center
                a.link
                    font-size 12px
                .hr-links
                    margin 5px 0 
                    height 0
                    width 60%
            .politica-termos
                .link-politica, .link-termos
                    font-size 9px
                .hr-divisao
                    margin 0 10px
            .linha-footer
                width 100%
                margin 20px 0 10px 0
            .direitos
                p
                    font-size 9px