header
    width 100%
    height 200px
    top 0
    left 0
    z-index 2 
    display flex
    flex-direction column
    align-items center
    padding 10px 0
    .logo
        background $img("marca-grupo-sequencial.svg") no-repeat center
        width 100%
        height 100%
    nav
        width 100%
        .itens-menu
            width 1100px
            margin 15px auto 30px auto
            display flex
            flex-direction row
            align-items center
            justify-content center
            a
                color #939393
                montserrat(14, bold)
                transition all 0.5s ease
                &:hover
                &:focus
                &.active
                    color #0078B0
            .hr-links
                margin 0 11px
                height 12px
                border 1px solid #939393
    +below($tablet)
        width 100vw
        flex-direction row-reverse
        padding 0
        +mobile()
            height 150px
        .logo
            width 50%
            +mobile()
                width 60%
                background-size contain
                margin-left 5%
        nav
            display none
            position absolute
            width 100vw
            left 0
            top 200px
            background-color #FFF
            z-index 9999
            +mobile()
                top 150px
            .itens-menu
                width 90%
                flex-direction column
                align-items flex-end
                margin 10px auto 30px auto
                padding-right 10%
                +mobile()
                    padding-right 0 !important
                .hr-links
                    margin 5px 0
                    height 0
                    width 165px

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 15% 0 auto
    +mobile()
        margin 0 5% 0 auto
    .lines
        display block
        width 100%
        height 4px
        background-color #939393
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #939393
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items flex-start
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 9
    padding 25px 7%
    .frase-cookies
        width 75%
        worksans(14)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
    .aceitar-cookies
        width 20%
        montserrat(14)
        color #FFF
        background-color #01669C 
        border none
        border-radius 5px
        height 40px
        margin-left 20px
        font-weight 600
        cursor pointer
        outline none
        &:hover
        &:focus
            background-color #003d5d
    +below($tablet)
        +mobile()
            flex-direction column
            align-items center
            padding 20px 
        .frase-cookies
            font-size 13px
            +mobile()
                font-size 11px
                width 100%
                text-align center
        .aceitar-cookies
            font-size 13px
            +mobile()
                font-size 12px
                width 100%
                text-align center
                margin-left 0
                margin-top 10px