.faculdade
    width 100%
    height auto
    position relative
    .img-logo-linha
        width 100%
        position relative
        margin 40px 0
        .imagem-logo
            width 1100px
            height 280px
            margin 0 auto
            background-color #E3DDD1
            display flex
            position relative
            z-index 2
            .img-faculdade
                width 50%
                height 100%
                object-fit cover
            .logo
                width 50%
                height 100%
                display flex
                align-items center
                justify-content center
        .linha-topo
            width 100%
            border 2px solid #0098DA
            position absolute
            top 140px
            z-index 1
    .frase
        width 1100px
        margin 0 auto
        padding 0 200px
        .p-frase
            worksans(16)
            color #1E4F7D
            text-align center
            line-height 1.8
    .cursos
        width 1100px
        height auto
        margin 0 auto
        display flex
        flex-direction column
        align-items center
        > .titulo
            worksans(40, light)
            color #1E4F7D
            text-align center
            margin 60px 0 20px 0
        .curso
            width 600px
            height 40px
            display flex
            align-items center
            justify-content center
            worksans(18)
            color #808080
            text-transform uppercase
            border-bottom 1px solid #D4D4D4
            span.curso-nome
                font-weight 700
                margin-left 5px
            &:hover
            &:focus
                color #1E4F7D
    .saiba-mais
        width 1100px
        margin 60px auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        .titulo-saiba-mais
            montserrat(18, bold)
            color #154877
            margin-right 20px
        .logo
            width 220px
    .linha-fim
        width 100%
        border 2px solid #0098DA
    .caixas-links
        width 1100px
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        padding 40px 0 50px 0
        position relative
        .faculdade
            background-color #154877
        .escola
            background-color #0078B0
        .ead
            background-color #0098DA
        .faculdade, .escola, .ead
            width 33.3%
            height 180px
            position relative
            display flex
            flex-direction column
            align-items center
            text-align center
            border-radius 10px
            outline none
            transition all 1s ease-in
            .nome
                montserrat(24, bold)
                color #FFF
                margin 20px 0 0 0
            .descricao
                montserrat(14, bold)
                color #FFF
                margin 0 0 20px 0
            .logo-link
                width 160px
                height 45px
            &:hover
            &:focus
                .visitar-faculdade
                    background-color #154877
                    border 1px solid #CCCCCC
                .visitar-escola
                    background-color #0078B0
                    border 1px solid #CCCCCC
                .visitar-ead
                    background-color #0098DA
                    border 1px solid #CCCCCC
        .visitar-faculdade, .visitar-escola, .visitar-ead
            position absolute
            width 180px
            height 30px
            background-color #00CCFF
            montserrat(16)
            color #FFF
            bottom -30px
            border-radius 5px
            display flex
            flex-direction row
            align-items center
            justify-content center
            img 
                margin-left 10px
    .central-atendimento
        width 1100px 
        margin 20px auto
        .telefone
            montserrat(20, bold)
            color #808080
            text-align center
            text-transform uppercase
            margin 0
            span 
                montserrat(30, bold)
                color #808080
        .horario
            worksans(14)
            color #808080
            text-align center
            margin 5px 0 40px 0
    +below($tablet)
        width 100%
        .img-logo-linha
            width 100%
            +mobile()
                width 100vw !important
            .imagem-logo
                width 90%
                +mobile()
                    height 200px !important
                .img-faculdade
                    +mobile()
                        margin-left 0 !important
                .img-logo
                    +mobile()
                        width 80% !important
                        margin-left 0 !important
            .linha-topo
                +mobile()
                    top 100px !important
        .frase
            width 90%
            +mobile()
                padding 0 10px !important
            .p-frase
                +mobile()
                    font-size 14px !important
        .cursos
            width 90%
            .titulo
                font-size 32px
                margin 40px 0 20px 0
                +mobile()
                    font-size 20px !important
                    font-weight 400 !important
                    margin 20px 0 !important
            .curso
                width 50%
                height 30px
                font-size 16px
                +mobile()
                    width 100% !important
                    font-size 12px !important
                span.curso-nome
                    +mobile()
                        font-size 12px !important
        .saiba-mais
            width 90%
            margin 45px auto
            +mobile()
                margin 30px auto !important
            .titulo-saiba-mais
                font-size 16px
                +mobile()
                    font-size 12px !important
            .logo
                width 200px
                +mobile()
                    width 150px !important
        .caixas-links
            width 90%
            .faculdade, .escola, .ead
                width 33.3%
                .nome
                    font-size 22px
                    +mobile()
                        font-size 14px !important
                .descricao
                    font-size 12px
                    +mobile()
                        font-size 8px !important
                        margin-top 5px !important
                .logo-link
                    +mobile()
                        width 85% !important
            .visitar-faculdade, .visitar-escola, .visitar-ead
                width 50%
                font-size 14px
                +mobile()
                    width 80% !important
                    font-size 11px !important
                img 
                    +mobile()
                        margin-left 7px !important
        .central-atendimento
            width 90%
            .telefone
                font-size 18px
                +mobile()
                    font-size 12px !important
                span 
                    font-size 28px
                    +mobile()
                        font-size 16px !important
            .horario
                +mobile()
                    font-size 11px !important


            