.contato
    width 100%
    height auto
    position relative
    .envio-contato
        width 1100px
        height 280px
        margin 40px auto
        background-color #E3DDD1
        padding 35px
        display flex
        flex-direction column
        align-items center
        position relative
        z-index 2
        .titulo
            montserrat(12, bold)
            color #154877
            margin 0
        .telefone-contato
            montserrat(36)
            color #154877
            margin 0
            span.destaque
                montserrat(48, bold)
                color #154877
        form
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            margin-top 20px
            .frase
                worksans(16)
                color #0078B0
                width 130px
                text-align center
            .dados
                display flex
                flex-direction column
                width 300px
                input[type=text]
                input[type=email] 
                    margin 1.5px 0
                    border none
                    height 30px
                    padding 0 10px
                    outline none
                    worksans(14)
                    color #0078B0
                    background-color #F2EFE9
                    +placeholder()
                        color #0078B0
                        background-color #F2EFE9
                    &:hover
                    &:focus
                        font-weight 700
            textarea 
                margin 1px 2px
                border none
                width 300px
                height 96px
                padding 10px 10px
                outline none
                worksans(14)
                color #0078B0
                background-color #F2EFE9
                resize none
                +placeholder()
                    color #0078B0
                    background-color #F2EFE9
                &:hover
                &:focus
                    font-weight 700
            .btn-contato
                margin 1px
                border none
                border-radius 0
                worksans(14, bold)
                background-color #0078B0
                color #FFF
                text-transform uppercase
                height 96px
                width 100px
                outline none
                transition all 0.3s ease-in
                &:hover
                &:focus
                    background-color #154877
        clearfix()
        .flash
            display flex
            flex-direction column
            align-items center
            justify-content space-around
            margin 0
            width 100%
            height 47%
            montserrat(14, medium)
            padding 10px
            border-radius 0
            position absolute
            bottom 0
            +mobile()
                height 63.5%
            > p
                margin 0
            &.flash-erro
                border 2px solid $vermelho
                background $vermelho
                color #fff
            &.flash-sucesso
                border 2px solid $verde
                background $verde
                color #fff
            +below($tablet)
                montserrat(12, medium)
    .linha-contato
        width 100%
        border 2px solid #0098DA
        position absolute
        top 140px
        z-index 1
    .caixas-links
        width 1100px
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        padding 40px 0 50px 0
        position relative
        .faculdade
            background-color #154877
        .escola
            background-color #0078B0
        .ead
            background-color #0098DA
        .faculdade, .escola, .ead
            width 33.3%
            height 180px
            position relative
            display flex
            flex-direction column
            align-items center
            text-align center
            border-radius 10px
            outline none
            transition all 1s ease-in
            .nome
                montserrat(24, bold)
                color #FFF
                margin 20px 0 0 0
            .descricao
                montserrat(14, bold)
                color #FFF
                margin 0 0 20px 0
            .logo-link
                width 160px
                height 45px
            &:hover
            &:focus
                .visitar-faculdade
                    background-color #154877
                    border 1px solid #CCCCCC
                .visitar-escola
                    background-color #0078B0
                    border 1px solid #CCCCCC
                .visitar-ead
                    background-color #0098DA
                    border 1px solid #CCCCCC
        .visitar-faculdade, .visitar-escola, .visitar-ead
            position absolute
            width 180px
            height 30px
            background-color #00CCFF
            montserrat(16)
            color #FFF
            bottom -30px
            border-radius 5px
            display flex
            flex-direction row
            align-items center
            justify-content center
            img 
                margin-left 10px
    .central-atendimento
        width 1100px 
        margin 20px auto
        .telefone
            montserrat(20, bold)
            color #808080
            text-align center
            text-transform uppercase
            margin 0
            span 
                montserrat(30, bold)
                color #808080
        .horario
            worksans(14)
            color #808080
            text-align center
            margin 5px 0 40px 0
    +below($tablet)
        width 100%
        .envio-contato
            width 90%
            +mobile()
                padding 15px !important
                height 405px !important
            .telefone-contato
                font-size 30px
                +mobile()
                    font-size 20px !important
                span.destaque
                    font-size 40px
                    +mobile()
                        font-size 30px !important
            form
                margin-top 35px
                +mobile()
                    margin-top 30px !important
                    flex-direction column !important
                .frase
                    font-size 14px
                    width 14%
                    +mobile()
                        width 100% !important
                        font-size 12px !important
                .dados
                    width 32%
                    +mobile()
                        width 100% !important
                        margin 1px 0 !important
                    input[type=text]
                    input[type=email] 
                        +mobile()
                            font-size 12px !important
                textarea 
                    width 32%
                    +mobile()
                        font-size 12px !important
                        width 100% !important
                        margin 1px 0 !important
                .btn-contato
                    width 12%
                    +mobile()
                        width 100% !important
                        height 40px !important
                        margin 2px 0 !important
        .caixas-links
            width 90%
            .faculdade, .escola, .ead
                width 33.3%
                .nome
                    font-size 22px
                    +mobile()
                        font-size 14px !important
                .descricao
                    font-size 12px
                    +mobile()
                        font-size 8px !important
                        margin-top 5px !important
                .logo-link
                    +mobile()
                        width 85% !important
            .visitar-faculdade, .visitar-escola, .visitar-ead
                width 50%
                font-size 14px
                +mobile()
                    width 80% !important
                    font-size 11px !important
                img 
                    +mobile()
                        margin-left 7px !important
        .central-atendimento
            width 90%
            .telefone
                font-size 18px
                +mobile()
                    font-size 12px !important
                span 
                    font-size 28px
                    +mobile()
                        font-size 16px !important
            .horario
                +mobile()
                    font-size 11px !important