.home
    width 100%
    .caixas-links
        width 1100px
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        padding 40px 0 50px 0
        position relative
        .faculdade
            background-color #154877
        .escola
            background-color #0078B0
        .ead
            background-color #0098DA
        .faculdade, .escola, .ead
            width 33.3%
            height 180px
            position relative
            display flex
            flex-direction column
            align-items center
            text-align center
            border-radius 10px
            outline none
            transition all 1s ease-in
            .nome
                montserrat(24, bold)
                color #FFF
                margin 20px 0 0 0
            .descricao
                montserrat(14, bold)
                color #FFF
                margin 0 0 20px 0
            .logo-link
                width 160px
                height 45px
            &:hover
            &:focus
                .visitar-faculdade
                    background-color #154877
                    border 1px solid #CCCCCC
                .visitar-escola
                    background-color #0078B0
                    border 1px solid #CCCCCC
                .visitar-ead
                    background-color #0098DA
                    border 1px solid #CCCCCC
        .visitar-faculdade, .visitar-escola, .visitar-ead
            position absolute
            width 180px
            height 30px
            background-color #00CCFF
            montserrat(16)
            color #FFF
            bottom -30px
            border-radius 5px
            display flex
            flex-direction row
            align-items center
            justify-content center
            img 
                margin-left 10px
    .banners
        width 100%
        height 400px
        position relative
        margin 20px 0
        .linha-banners
            width 100%
            border 2px solid #0098DA
            position absolute
            z-index 1
            top 50%
        .centralizado
            width 1100px
            margin 0 auto
            z-index 2
            .banner
                width 1100px
                height 400px
                position relative
                .imagem
                    width 100%
                    height 100%
                    background-size contain
                    background-repeat no-repeat
                    background-position center
    .central-atendimento
        width 1100px 
        margin 0 auto
        .telefone
            montserrat(20, bold)
            color #808080
            text-align center
            text-transform uppercase
            margin 0
            span 
                montserrat(30, bold)
                color #808080
        .horario
            worksans(14)
            color #808080
            text-align center
            margin 5px 0 40px 0
    +below($tablet)
        width 100vw
        .caixas-links
            width 90%
            .faculdade, .escola, .ead
                width 33.3%
                .nome
                    font-size 22px
                    +mobile()
                        font-size 14px !important
                .descricao
                    font-size 12px
                    +mobile()
                        font-size 8px !important
                        margin-top 5px !important
                .logo-link
                    +mobile()
                        width 85% !important
            .visitar-faculdade, .visitar-escola, .visitar-ead
                width 50%
                font-size 14px
                +mobile()
                    width 80% !important
                    font-size 11px !important
                img 
                    +mobile()
                        margin-left 7px !important
        .banners
            width 100vw
            height 350px
            +mobile()
                height 200px !important
            .centralizado
                width 90%
                .banner
                    width 100%
                    height 350px
                    +mobile()
                        height 200px !important
                    .imagem
                        +mobile()
                            margin 0 !important
        .central-atendimento
            width 90%
            .telefone
                font-size 18px
                +mobile()
                    font-size 12px !important
                span 
                    font-size 28px
                    +mobile()
                        font-size 16px !important
            .horario
                +mobile()
                    font-size 11px !important