.nosso-historico
    width 100%
    height auto
    position relative
    .frase-linha
        width 100%
        position relative
        margin 40px 0
        .frase
            width 1100px
            height 280px
            margin 0 auto
            background-color #E3DDD1
            position relative
            display flex
            align-items center
            z-index 2
            p.frase
                worksans(40, light)
                color #6F899E
                margin 0 100px
                text-align center
        .linha-nosso-historico
            width 100%
            border 2px solid #0098DA
            position absolute
            top 140px
            z-index 1
    .imagens-texto
        width 1100px
        height auto
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        .imagens
            width 470px
            .imagem 
                width 230px
                height 160px
                background-size cover
                background-position center
        .texto
            width 630px
            worksans(16)
            color #1E4F7D
            padding 0 0 0 50px
            > p
                margin 0 0 20px 0
    .caixas-links
        width 1100px
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        padding 40px 0 50px 0
        position relative
        .faculdade
            background-color #154877
        .escola
            background-color #0078B0
        .ead
            background-color #0098DA
        .faculdade, .escola, .ead
            width 33.3%
            height 180px
            position relative
            display flex
            flex-direction column
            align-items center
            text-align center
            border-radius 10px
            outline none
            transition all 1s ease-in
            .nome
                montserrat(24, bold)
                color #FFF
                margin 20px 0 0 0
            .descricao
                montserrat(14, bold)
                color #FFF
                margin 0 0 20px 0
            .logo-link
                width 160px
                height 45px
            &:hover
            &:focus
                .visitar-faculdade
                    background-color #154877
                    border 1px solid #CCCCCC
                .visitar-escola
                    background-color #0078B0
                    border 1px solid #CCCCCC
                .visitar-ead
                    background-color #0098DA
                    border 1px solid #CCCCCC
        .visitar-faculdade, .visitar-escola, .visitar-ead
            position absolute
            width 180px
            height 30px
            background-color #00CCFF
            montserrat(16)
            color #FFF
            bottom -30px
            border-radius 5px
            display flex
            flex-direction row
            align-items center
            justify-content center
            img 
                margin-left 10px
    .central-atendimento
        width 1100px 
        margin 20px auto
        .telefone
            montserrat(20, bold)
            color #808080
            text-align center
            text-transform uppercase
            margin 0
            span 
                montserrat(30, bold)
                color #808080
        .horario
            worksans(14)
            color #808080
            text-align center
            margin 5px 0 40px 0
    +below($tablet)
        width 100%
        .frase-linha
            width 100vw
            .frase
                width 90%
                p.frase
                    font-size 36px
                    +mobile()
                        font-size 22px !important
                        margin 0 20px !important
        .imagens-texto
            width 90%
            +mobile()
                flex-direction column-reverse !important
                align-items center !important
            .imagens
                width 40%
                +mobile()
                    width 100% !important
                .imagem 
                    width 49%
                    height 130px
                    +mobile()
                        height 100px !important
                        margin-left 0 !important
            .texto
                width 60%
                font-size 14px
                padding 0 0 0 5%
                +mobile()
                    width 100% !important
                    padding 0 !important
                > p
                    margin 0 0 10px 0 !important
                    text-align justify !important
        .caixas-links
            width 90%
            .faculdade, .escola, .ead
                width 33.3%
                .nome
                    font-size 22px
                    +mobile()
                        font-size 14px !important
                .descricao
                    font-size 12px
                    +mobile()
                        font-size 8px !important
                        margin-top 5px !important
                .logo-link
                    +mobile()
                        width 85% !important
            .visitar-faculdade, .visitar-escola, .visitar-ead
                width 50%
                font-size 14px
                +mobile()
                    width 80% !important
                    font-size 11px !important
                img 
                    +mobile()
                        margin-left 7px !important
        .central-atendimento
            width 90%
            .telefone
                font-size 18px
                +mobile()
                    font-size 12px !important
                span 
                    font-size 28px
                    +mobile()
                        font-size 16px !important
            .horario
                +mobile()
                    font-size 11px !important