.politica-de-privacidade
    width 1100px
    margin 0 auto
    .titulo-privacidade, .titulo-cookies
        margin 40px 0 0 0
        montserrat(30, bold)
        color #154877
        text-align center
    .texto-privacidade, .texto-cookies
        worksans(16)
        text-align left 
        color #154877
        margin 40px 0
    +below($tablet)
        width 90%
        .titulo-privacidade, .titulo-cookies
            font-size 28px
            +mobile()
                font-size 24px !important
        .texto-privacidade, .texto-cookies
            font-size 14px
            +mobile()
                font-size 12px !important