.termos-de-uso
    width 1100px
    margin 0 auto
    h1.titulo
        margin 40px 0 0 0
        montserrat(30, bold)
        color #154877
        text-align center
    div.texto
        worksans(16)
        text-align left 
        color #154877
        margin 40px 0
    +below($tablet)
        width 90%
        h1.titulo
            font-size 28px
            +mobile()
                font-size 24px !important
        div.texto
            font-size 14px
            +mobile()
                font-size 12px !important